body{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: royalblue;
}

.Hero{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    font-family: Georgia;
    font-weight: bold;
}

.logo{
    font-family: "Times New Roman";
    font-weight: bold; 
    font-size: 32px;
}
.top-right{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
    font-family: Georgia;
    font-weight: bold;
}